*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.dws{
    background-image: url("https://i.ibb.co/fHh7tg7/2222222222222.png");
    width: 94px;
    height: 46px;
    cursor: pointer;
    padding: 10px;
}

.dws:hover{
    background-image: url("https://i.ibb.co/VNfdtQH/2222222222222.png");
}

.save{
    background-image: url("https://i.ibb.co/Cmtbj8k/save.png");
    width: 94px;
    height: 46px;
    cursor: pointer;
    padding: 10px;
}

.save:hover{
    background-image: url("https://i.ibb.co/56Cm87Z/saveAkt.png");
}

.container-buttons {
    display: flex;
    width: 43vh;
    justify-content: space-around;
  }